.header {
    width: max-content;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #77002e;
   padding: 0 25px;
   
   
  }
  
  .logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    
  }
  
  .header li {
    margin-left: 3rem;
    margin: 100px;
    padding: 45px;
    margin: 0 50px;
   
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fcb8d2;
    padding: 0 25px;
    
    
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  
  .badge {
   
    background-color: rgba(255, 255, 255, 0.425);
    border-style: groove;
    border-top: 5px;
  
    border-radius: 12px;
    padding: 5px;
    margin-left: 0.5rem;
   
  }

  